<div class="header-content">
    <a href="/home" class="header-logo-link w-nav-brand"><img src="./assets/images/logo.svg"
            alt="Deliver X Webflow Template - Logo" class="header-logo"></a>
    <div class="header-right-side">
        <nav role="navigation" class="header-nav-menu-wrapper w-nav-menu">
            <ul role="list" class="header-nav-menu-list">
                <li class="header-nav-list-item header">
                    <a href="/home" class="header-nav-link w-nav-link" style="max-width: 1270px;">Home</a>
                </li>
                <li class="header-nav-list-item header">
                    <a href="/about" aria-current="page" class="header-nav-link w-nav-link w--current"
                        style="max-width: 1270px;">About</a>
                </li>
                <li class="header-nav-list-item header">
                    <a href="/plans" class="header-nav-link w-nav-link" style="max-width: 1270px;">Pricing</a>
                </li>
                <li class="header-nav-list-item header">
                    <div data-hover="true" data-delay="0" data-w-id="30e72098-383f-aa99-a958-3300d8704347"
                        class="dropdown-wrapper w-dropdown" style="max-width: 1270px;">
                        <div class="header-nav-link dropdown w-dropdown-toggle" id="w-dropdown-toggle-0"
                            aria-controls="w-dropdown-list-0" aria-haspopup="menu" aria-expanded="false" role="button"
                            tabindex="0">
                            <div>Pages</div>
                            <div class="line-rounded-icon dropdown-arrow"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                </div>
                        </div>
                        <nav class="dropdown-column-wrapper w-dropdown-list" id="w-dropdown-list-0"
                            aria-labelledby="w-dropdown-toggle-0"
                            style="display: none; transform: translate3d(0px, 10px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 0;">
                            <div class="card dropdown">
                                <div class="w-layout-grid grid-2-columns dropdown">
                                    <div class="inner-container _230px">
                                        <div class="mg-bottom-40px">
                                            <div class="text-300 bold color-neutral-800">Menu</div>
                                        </div>
                                        <div class="nav-menu-list-main-wrapper">
                                            <ul role="list" class="nav-menu-list-wrapper">
                                                <li class="nav-menu-list-item"><a href="/home"
                                                        class="text-200 menu-nav-link" tabindex="0">Home</a>
                                                </li>
                                                <li class="nav-menu-list-item"><a href="/about" aria-current="page"
                                                        class="text-200 menu-nav-link w--current" tabindex="0">About</a>
                                                </li>
                                                <li class="nav-menu-list-item"><a href="/contact"
                                                        class="text-200 menu-nav-link" tabindex="0">Contact</a></li>
                                                <li class="nav-menu-list-item"><a href="/blog"
                                                        class="text-200 menu-nav-link" tabindex="0">Blog</a></li>
                                                <li class="nav-menu-list-item"><a
                                                        href="https://delivertemplate.webflow.io/blog/4-tips-to-increase-your-side-income-in-food-delivery"
                                                        class="text-200 menu-nav-link" tabindex="0">Blog posts</a></li>
                                            </ul>
                                            <ul role="list" class="nav-menu-list-wrapper last">
                                                <li class="nav-menu-list-item"><a href="/plans"
                                                        class="text-200 menu-nav-link" tabindex="0">Plans</a></li>
                                                <li class="nav-menu-list-item"><a
                                                        href="https://delivertemplate.webflow.io/product/deluxe"
                                                        class="text-200 menu-nav-link" tabindex="0">Plan single</a></li>
                                                <li class="nav-menu-list-item"><a href="/download"
                                                        class="text-200 menu-nav-link" tabindex="0">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="inner-container _230px">
                                        <div class="mg-bottom-40px">
                                            <div class="text-300 bold color-neutral-800">Utility pages</div>
                                        </div>
                                        <div class="nav-menu-list-main-wrapper">
                                            <ul role="list" class="nav-menu-list-wrapper last">
                                                <li class="nav-menu-list-item"><a href="/template-pages/start-here"
                                                        class="text-200 menu-nav-link" tabindex="0">Start here</a></li>
                                                <li class="nav-menu-list-item"><a href="/template-pages/style-guide"
                                                        class="text-200 menu-nav-link" tabindex="0">Styleguide</a></li>
                                                <li class="nav-menu-list-item"><a
                                                        href="https://delivertemplate.webflow.io/401"
                                                        class="text-200 menu-nav-link" tabindex="0">Password
                                                        protected</a></li>
                                                <li class="nav-menu-list-item"><a
                                                        href="https://delivertemplate.webflow.io/404"
                                                        class="text-200 menu-nav-link" tabindex="0">404 Not found</a>
                                                </li>
                                                <li class="nav-menu-list-item"><a href="/template-pages/licenses"
                                                        class="text-200 menu-nav-link" tabindex="0">Licenses</a></li>
                                                <li class="nav-menu-list-item"><a href="/template-pages/changelog"
                                                        class="text-200 menu-nav-link" tabindex="0">Changelog</a></li>
                                                <li class="nav-menu-list-item"><a
                                                        href="https://brixtemplates.com/more-webflow-templates"
                                                        class="text-200 menu-nav-link special" tabindex="0">Browse More
                                                        Templates</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="Cart">
            <a>cart (0)</a>
        </div>
        <div class="header-button">
            <a href="/download" class="btn btn-secondary small w-button">Download app</a>
            <a href="/contact" class="btn btn-primary small w-button">Register</a>
        </div>
    </div>
</div>