
<div class="container-default w-container">
    <div class="footer-top" style="opacity: 1;">
        <div class="inner-container _450px">
            <a href="/home" class="footer-logo-wrapper w-inline-block">
                <img src="https://assets-global.website-files.com/61fd4a65725a5325e9bb25c2/6216c3e8db8e185b2e172d35_logo-deliver-template.svg"
                    alt="Deliver X Webflow Template - Logo" class="footer-logo">
            </a>
            <p class="mg-bottom-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor<span class="text-no-wrap">incididunt ut.</span></p>
        </div>
        <div class="buttons-row download-app">
            <a href="https://www.apple.com/app-store/" target="_blank"
                class="btn btn-primary w-inline-block">
                Download for iOS
            </a>
            <a href="https://play.google.com/" target="_blank"
                class="btn btn-primary w-inline-block">
                Download for Android
            </a>
        </div>
    </div>
    <div class="footer-middle" style="opacity: 1;">
        <div class="inner-container menu">
            <div class="mg-bottom-40px">
                <h3 class="text-300 bold color-neutral-800">Menu</h3>
            </div>
            <div class="nav-menu-list-main-wrapper">
                <ul role="list" class="nav-menu-list-wrapper">
                    <li class="nav-menu-list-item">
                        <a href="/home" class="text-200 menu-nav-link">Home</a>
                    </li>
                    <li class="nav-menu-list-item">
                        <a href="/about" aria-current="page"
                            class="text-200 menu-nav-link w--current">About</a>
                    </li>
                    <li class="nav-menu-list-item">
                        <a href="/contact" class="text-200 menu-nav-link">Contact</a>
                    </li>
                    <li class="nav-menu-list-item">
                        <a href="/blog" class="text-200 menu-nav-link">Blog</a>
                    </li>
                    <li class="nav-menu-list-item">
                        <a href="https://delivertemplate.webflow.io/blog/4-tips-to-increase-your-side-income-in-food-delivery"
                            class="text-200 menu-nav-link">Blog posts</a>
                    </li>
                </ul>
                <ul role="list" class="nav-menu-list-wrapper last">
                    <li class="nav-menu-list-item">
                        <a href="/plans" class="text-200 menu-nav-link">Plans</a>
                    </li>
                    <li class="nav-menu-list-item">
                        <a href="https://delivertemplate.webflow.io/product/deluxe"
                            class="text-200 menu-nav-link">Plan single</a>
                    </li>
                    <li class="nav-menu-list-item">
                        <a href="/download"
                            class="text-200 menu-nav-link">Register</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="inner-container utility">
            <div class="mg-bottom-40px">
                <h3 class="text-300 bold color-neutral-800">Utility pages</h3>
            </div>
            <div class="nav-menu-list-main-wrapper">
                <ul role="list" class="nav-menu-list-wrapper last">
                    <li class="nav-menu-list-item">
                        <a href="/template-pages/start-here"
                            class="text-200 menu-nav-link">Start here</a>
                        </li>
                    <li class="nav-menu-list-item">
                        <a href="/template-pages/style-guide"
                            class="text-200 menu-nav-link">Styleguide</a>
                        </li>
                    <li class="nav-menu-list-item">
                        <a href="https://delivertemplate.webflow.io/401"
                            class="text-200 menu-nav-link">Password protected</a>
                        </li>
                    <li class="nav-menu-list-item">
                        <a href="https://delivertemplate.webflow.io/404"
                            class="text-200 menu-nav-link">404 Not found</a>
                        </li>
                    <li class="nav-menu-list-item">
                        <a href="/template-pages/licenses"
                            class="text-200 menu-nav-link">Licenses</a>
                        </li>
                    <li class="nav-menu-list-item">
                        <a href="/template-pages/changelog"
                            class="text-200 menu-nav-link">Changelog</a>
                        </li>
                    <li class="nav-menu-list-item">
                        <a href="https://brixtemplates.com/more-webflow-templates"
                            class="text-200 menu-nav-link special">Browse More Templates</a>
                        </li>
                </ul>
            </div>
        </div>
        <div class="inner-container countries">
            <div class="mg-bottom-40px">
                <h3 class="text-300 bold color-neutral-800">Available in</h3>
            </div>
            <div class="footer-country-available-service">
                <div class="flex-horizontal align-center">
                    <div class="inner-container _78px width-100 responsive rounded">
                        <img src="https://assets-global.website-files.com/61fd4a65725a5325e9bb25c2/61fdd35beba8182905a8fd1c_icon-1-service-available-delivery-template.svg"
                            loading="eager" alt="San Francisco - Deliver X Webflow Template"
                            class="image border-radius-24px responsive">
                    </div>
                    <div class="heading-h5-size country-available">San Francisco, CA</div>
                </div>
                <div class="flex-horizontal align-center">
                    <div class="inner-container _78px width-100 responsive rounded">
                        <img src="https://assets-global.website-files.com/61fd4a65725a5325e9bb25c2/61fdd35beba818a369a8fd1e_icon-2-service-available-delivery-template.svg"
                            loading="eager" alt="New York - Deliver X Webflow Template"
                            class="image border-radius-24px responsive">
                    </div>
                    <div class="heading-h5-size country-available">New York, NY</div>
                </div>
                <div class="flex-horizontal align-center">
                    <div class="inner-container _78px width-100 responsive rounded">
                        <img src="https://assets-global.website-files.com/61fd4a65725a5325e9bb25c2/61fdd35b08dbc7d63e9b3811_icon-3-service-available-delivery-template.svg"
                            loading="eager" alt="Los Angeles - Deliver X Webflow Template"
                            class="image border-radius-24px responsive">
                    </div>
                    <div class="heading-h5-size country-available">Los Angeles, CA</div>
                </div>
                <div class="flex-horizontal align-center">
                    <div class="inner-container _78px width-100 responsive rounded">
                        <img src="https://assets-global.website-files.com/61fd4a65725a5325e9bb25c2/61fdd35b80572eda7e5d0c79_icon-4-service-available-delivery-template.svg"
                            loading="eager" alt="Seattle - Deliver X Webflow Template"
                            class="image border-radius-24px responsive">
                    </div>
                    <div class="heading-h5-size country-available">Seattle, WA</div>
                </div>
            </div>
        </div>
    </div>
    <div data-w-id="9566e1e2-4862-c17d-08fa-fb50b8a31bb3" class="footer-bottom" style="opacity: 1;">
        <p class="mg-bottom-0">Copyright © Deliver X | Designed by <a href="https://brixtemplates.com/"
                target="_blank" class="text-decoration-none">BRIX Templates</a> - Powered by <a
                href="https://webflow.com/" target="_blank" class="text-decoration-none">Webflow</a>
        </p>
    </div>
</div>