.footer-top {
    border-bottom: 1px solid var(--neutral--400);
    padding-top: 70px;
    padding-bottom: 83px;
    display: flex;
    justify-content: center;
    > * {
        flex: 1;
    }
    .download-app {
        display: flex;
        align-items: center;
        :not(:first-child) {
            margin-left: 26px;
        }
    }
}
.footer-middle {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    .menu, .utility {
        flex: 1 25%;
    }
    .countries {
        flex: 1 50%;
        .footer-country-available-service {
            display: flex;
            flex-wrap: wrap;
            > * {
                flex: 1 1 50%;
                display: flex;
                align-items: center;
            }
        }
    }
}
.footer-bottom {
    border-top: 1px solid var(--neutral--300);
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
