<div class="section hero .bg-neutral-200">
    <div class="content">
        <div class="text-center-tablet">
            <div class="mg-bottom-22px">
                <div class="text-200 bold text-uppercase color-accent-1">About Deliver X</div>
            </div>
            <h1>We are here to help amazing restaurants get great customers</h1>
            <div class="inner-container _590px center-tablet">
                <p class="mg-bottom-0">At morbi adipiscing sit sed consectetur senectus Dignissim sed amet tincidunt
                    vitae ultricies ultrices amet fermentum amet neque et id sed lacinia massa pretium aliquam <span
                        class="text-no-wrap">libero et.</span>
                </p>
            </div>
        </div>
        <div class="right-relative">
            <img class="image-wrapper hero-image" src="/assets/images/about-hero-delivery-template.png">
            <div class="image-wrapper hero-02-image-absolute-01 rounded">
                <img src="/assets/images/image-1-card-about-hero-delivery-template.png" class="image cover">
            </div>
            <div class="image-wrapper hero-02-image-absolute-02 rounded">
                <img src="/assets/images/image-2-card-about-hero-delivery-template.svg" class="image cover">
            </div>
        </div>
    </div>
    <div class="w-layout-grid grid-4-columns stats">
        <div class="text-center">
            <div class="mg-bottom-6px">
                <h2 class="display-2">10M<span class="color-accent-1">+</span></h2>
            </div>
            <div class="text-200 medium">Happy customers</div>
        </div>
        <div class="text-center">
            <div class="mg-bottom-6px">
                <h2 class="display-2">500k<span class="color-accent-1">+</span></h2>
            </div>
            <div class="text-200 medium">Restaurants available</div>
        </div>
        <div class="text-center">
            <div class="mg-bottom-6px">
                <h2 class="display-2">30M<span class="color-accent-1">+</span></h2>
            </div>
            <div class="text-200 medium">Successful deliveries</div>
        </div>
        <div class="text-center">
            <div class="mg-bottom-6px">
                <h2 class="display-2">99.9<span class="color-accent-1">%</span></h2>
            </div>
            <div class="text-200 medium">Customer satisfaction</div>
        </div>
    </div>
</div>
<div class="section _200px">
    <div class="content">
        <img class="image-wrapper rounded" src="/assets/images/image-2-stoy-about-delivery-template-p-800.jpeg" />
        <div class="inner-container _480px width-100-tablet">
            <div class="mg-bottom-12px">
                <div class="text-200 bold text-uppercase color-accent-1">About us</div>
            </div>
            <h2>Our company started back <span class="text-no-wrap">in 2016</span></h2>
            <p class="mg-bottom-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                qui dolorem ipsum quia dolor sit amet, consectetur.</p>
        </div>
    </div>
</div>
<div class="section _200px .bg-neutral-200">
    <div class="content">
        <div class="mg-bottom-12px">
            <div class="text-200 bold text-uppercase color-accent-1">Our mission</div>
            <h2>Our mission is to disrupt the <span class="text-no-wrap">food industry</span></h2>
            <div class="inner-container _480px width-100-tablet">
                <p class="mg-bottom-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur aut <span class="text-no-wrap">odit aut fugit.</span></p>
            </div>
        </div>
        <img class="image-wrapper rounded" src="/assets/images/image-1-stoy-about-delivery-template-p-800.jpeg" />
    </div>
</div>

<div class="section _200px">
    <div class="content">
        <div id="w-node-_770e753d-265b-c080-c6fe-b07ee6d3acb9-562a73ed">
            <div class="position-sticky top-160px">
                <div class="inner-container _520px _100-tablet">
                    <div class="mg-bottom-12px">
                        <div class="text-200 bold text-uppercase color-accent-1">Our journey</div>
                    </div>
                    <div class="inner-container _520px-tablet">
                        <div class="inner-container _400px-mbl">
                            <h2>It has been a long but incredible journey</h2>
                        </div>
                    </div>
                    <p class="mg-bottom-48px">Lorem ipsum dolor sit amet consectetur adipiscing elit tortor eu egestas
                        morbi sem vulputate etiam facilisis pellentesque <span class="text-no-wrap">ut quis.</span></p>
                    <div class="buttons-row">
                        <div class="btn-row-left"><a href="/download" class="btn-primary w-button">Download app</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-container _588px _100-tablet">
            <div class="card rounded chronology">
                <div class="mg-bottom-12px">
                    <div class="heading-h4-size color-accent-1">2016</div>
                </div>
                <h3 class="mg-bottom-32px">Deliver X was founded</h3>
                <p class="mg-bottom-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo <span class="text-no-wrap">enim
                        ipsam.</span></p>
            </div>
            <div class="card rounded chronology">
                <div class="mg-bottom-12px">
                    <div class="heading-h4-size color-accent-1">2018</div>
                </div>
                <h3 class="mg-bottom-32px">Raised Series A at $50M valuation</h3>
                <p class="mg-bottom-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo <span class="text-no-wrap">enim
                        ipsam.</span></p>
            </div>
            <div class="card rounded chronology">
                <div class="mg-bottom-12px">
                    <div class="heading-h4-size color-accent-1">2019</div>
                </div>
                <h3 class="mg-bottom-32px">Raised Series B at $600M valuation</h3>
                <p class="mg-bottom-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                    accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo <span class="text-no-wrap">enim
                        ipsam.</span></p>
            </div>
            <div class="card rounded chronology">
                <div class="mg-bottom-12px">
                    <div class="heading-h4-size color-accent-1">2022</div>
                </div>
                <h3 class="mg-bottom-32px">Raised Series C at $3B valuation</h3>
                <p class="mg-bottom-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae
                    vitae dicta sunt explicabo. Nemo <span class="text-no-wrap">enim ipsam.</span></p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section _200px" >
        <div class="container-default w-container">
            <div class="mg-bottom-110px">
                <div class="inner-container _700px center">
                    <div class="text-center">
                        <div class="mg-bottom-12px">
                            <div class="text-200 bold text-uppercase color-accent-1">Our Partners</div>
                        </div>
                        <h2>We don’t walk alone, Deliver X works thanks to <span class="text-no-wrap">our
                                partners</span></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit tortor eu egestas morbi sem vulputate
                            etiam facilisis pellentesque <span class="text-no-wrap">ut quis.</span></p>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="inner-container _350px">
                    <div class="text-center">
                        <div class="mg-bottom-32px">
                            <div class="inner-container _218px center responsive"><img
                                    src="https://assets-global.website-files.com/61fd4a65725a5325e9bb25c2/62017b070212f9403ca3a97f_image-1-partners-delivery-template.svg"
                                    alt="Customers - Deliver X Webflow Template"></div>
                        </div>
                        <h3 class="display-4 mg-bottom-16px">Customers</h3>
                        <p class="mg-bottom-0">Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam <span class="text-no-wrap">sit nullam.</span></p>
                    </div>
                </div>
                <div class="inner-container _350px">
                    <div class="text-center">
                        <div class="mg-bottom-32px">
                            <div class="inner-container _218px center responsive">
                                <img src="https://assets-global.website-files.com/61fd4a65725a5325e9bb25c2/62017b07238dadda77c03341_image-2-partners-delivery-template.svg"
                                    alt="Restaurants - Deliver X Webflow Template"></div>
                        </div>
                        <h3 class="display-4 mg-bottom-16px">Restaurants</h3>
                        <p class="mg-bottom-0">Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam <span class="text-no-wrap">sit nullam.</span></p>
                    </div>
                </div>
                <div class="inner-container _350px">
                    <div class="text-center">
                        <div class="mg-bottom-32px">
                            <div class="inner-container _218px center responsive"><img
                                    src="https://assets-global.website-files.com/61fd4a65725a5325e9bb25c2/62017b075b917b7d28e88cc8_image-3-partners-delivery-template.svg"
                                    alt="Riders - Deliver X Webflow Template"></div>
                        </div>
                        <h3 class="display-4 mg-bottom-16px">Riders</h3>
                        <p class="mg-bottom-0">Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam <span class="text-no-wrap">sit nullam.</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
